<html>
    <head>
        <title>Api Test</title>
        <script src="js/response.js"></script>
    </head>
    <body>
        <h1>login</h1>
        <input type="text" placeholder="name" id="username"/>
        <input type="password" placeholder="password" id="password"/>
        <button onclick="submit()">Submit</button>
    </body>
</html>